
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



$primary:       #F48931;
$secondary:     #912F8C;
$success:       #6CC343;
$info: #aee2e5;
$warning:       #F48E71;
$danger:        #DA4300;