
// Fonts


// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@font-face{
  font-family: 'Rabbit on the Moon';
  src: url('/css/DKRabbitOnTheMoon.otf');
}

.header-title{
  font-family: "Rabbit on the Moon";
}

.theme-font{
  font-family: "Rabbit on the Moon";
}


.navbar-collapse{
  padding: 0px;
}

.navbar-nav .nav-item{
  margin: 0px;
}

.navbar-nav .nav-item:hover{
  background-color: #ec9a0a;
}






